.product-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image details" "image details";
  gap: var(--spacing-lg);

  &__image {
    grid-area: image;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    img {
      height: auto;
      border-radius: var(--border-radius-sm);
      object-fit: cover;
      max-width: 85%;
    }
  }
  &__details {
    grid-area: details;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    margin-top: var(--spacing-2xl);
    &-title {
      font-size: clamp(var(--font-size-xl), var(--font-size-3xl), 7vw);
      margin: var(--spacing-xs) 0;
    }
    &-tags {
      display: flex;
      gap: var(--spacing-md);
      &-tag {
        width: fit-content;
        padding: var(--spacing-xs) var(--spacing-sm);
        border-radius: var(--border-radius-sm);
        background-color: var(--accent-color);
        font-size: var(--font-size-sm);
        color: var(--white-color);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    &-price {
      font-size: var(--font-size-2xl);
      color: var(--accent-color);
      letter-spacing: 2px;
      font-weight: bold;
    }
    &-badges {
      display: flex;
      gap: var(--spacing-sm);
      img {
        padding: var(--spacing-xs) var(--spacing-sm);
        border-radius: var(--border-radius-sm);
        background-color: var(--badge-bg-color);
        font-size: var(--font-size-sm);
        color: var(--badge-text-color);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
    &-description {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);
      margin-top: var(--spacing-lg);
      p {
        font-size: var(--font-size-lg);
        color: var(--text-color);
      }
    }
    &-size-guide {
      display: flex;
      margin-top: var(--spacing-2xl);
      img {
        border-radius: var(--border-radius-sm);
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .product-information {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image"
      "details";
    gap: var(--spacing-lg);
    &__image {
      align-items: center;
      justify-content: center;
      width: 100%;
      img {
        width: 100%;
        height: auto;
        border-radius: var(--border-radius-sm);
        object-fit: cover;
      }
    }
    &__details {
      gap: var(--spacing-md);
      margin-top: var(--spacing-lg);
      &-size-guide {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .product-information {
    gap: var(--spacing-md);
    &__details {
      margin-top: var(--spacing-md);
      &-title {
        font-size: clamp(var(--font-size-lg), var(--font-size-xl), 10vw);
      }
      &-price {
        font-size: var(--font-size-xl);
      }
      &-badges {
        flex-wrap: wrap;
        gap: var(--spacing-xs);
        margin: var(--spacing-md) 0;
        img {
          padding: var(--spacing-xs);
          font-size: var(--font-size-xs);
        }
      }
      &-description {
        p {
          font-size: var(--font-size-md);
        }
      }
      &-size-guide {
        width: 100%;
        max-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .product-information {
    &__details {
      width: 100%;
      &-size-guide {
        width: 100%;
        align-self: center;
        img {
          width: 100%;
          height: auto;
          border-radius: var(--border-radius-sm);
          object-fit: cover;
        }
      }
      &-badges {
        align-items: center;
        justify-content: flex-start;
        gap: var(--spacing-xs);
        img {
          padding: var(--spacing-xs);
          font-size: var(--font-size-xs);
        }
      }
    }
  }
}
