.nav {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba($color: #6c757d, $alpha: 0.3);
    border-radius: var(--border-radius);
    li {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      transition: all 0.3s;
      &:hover {
        background-color: rgba($color: #6c757d, $alpha: 0.1);
      }
      border-radius: var(--border-radius);
      &:first-of-type {
        order: 1;
        &:hover ~ li:last-of-type:before {
          opacity: 0;
        }
      }
      &:nth-of-type(2) {
        order: 3;
        &:hover ~ li:last-of-type:after {
          opacity: 0;
        }
      }
      &:last-of-type {
        position: relative;
        order: 2;
        &:hover::before,
        &:hover::after {
          opacity: 0;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 25px;
          background-color: rgba($color: #6c757d, $alpha: 0.3);
          transition: all 0.3s;
          opacity: 1;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 25px;
          background-color: rgba($color: #6c757d, $alpha: 0.3);
          transition: all 0.3s;
          opacity: 1;
        }
      }
      a {
        display: inline-block;
        // padding: 8px !important;
      }
    }
  }
}
