.Btn_scrollTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  color: var(--accent-color);
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  border: 2px solid var(--accent-color);
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(100%);
}
.show {
  opacity: 1;
  transform: translateY(0);
}

.Btn_scrollTop:hover {
  background-color: var(--accent-hover);
  color: var(--primary-color);
  cursor: pointer;
  transform: translateY(-2px) scale(1.02);
}
